.loader.hidden {
    opacity: 0;
    visibility: hidden;
}

#home,
#about,
#contact,
#services,
#insights {
    opacity: 0;
    transform: translateY(-1rem);
    transition: opacity .6s ease-in-out, transform .6s ease-in-out;
}

#home.shown,
#about.shown,
#contact.shown,
#services.shown,
#insights.shown {
    opacity: 1;
    transform: translateY(0);
}

body.loading {
    overflow: hidden !important;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    cursor: none;
    scroll-behavior: smooth;

}

header {
    background-color: #1c2833;
    color: white;
    padding: 12px 50px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 90px;
    z-index: 1001;
    box-sizing: border-box;
    justify-content: space-between;
}

#menu-icon {

    display: flex;
    flex-direction: column;
    height: 2.5rem;
    width: 2.5rem;
    gap: 4.5px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0;
    position: relative;
    z-index: 2000;
}

#menu-icon span {
    width: 22px;
    height: 2.5px;
    background-color: rgb(255, 255, 255);
    display: block;
    transition: background-color 0.3s ease, transform .3s ease-in-out;
}

#menu-icon.hidden span:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

#menu-icon.hidden span:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

#menu-icon.hidden span:nth-child(2) {
    transform: scaleX(0);
    opacity: 0;
}

#menu-icon.hidden {
    z-index: 1002;
}

hr {
    border: none;
    height: 2px;
    background-color: #848484;
}

.logo {
    font-weight: bold;
    font-size: 1.35em;
    padding: 0px 45px;
    font-family: 'ClashGrotesk-Light';
    letter-spacing: 1.5px;
}

/* Base Navigation Styling */
nav {
    position: fixed;
    top: 0;
    right: -200%;
    width: 100vw;
    height: 100vh;
    background: #1c2833fd;
    transition: right 0.6s ease-in-out;
    padding-top: 20px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Navigation List Styling */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    margin: 50px 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'LouizeDisplay', serif;
    font-size: 2.5em; 
    display: inline-block;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

nav ul li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.4s ease;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

nav.active {
    right: 0;
}

.hero {
    background-image: url('images/studyofdista.jpeg');
    background-size: cover;
    background-position: center;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    color: white;
    margin: 0;
}

/*parallax effetc*/
.hero {
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* .hero::before {
    content: url('images/cat.jpeg');  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.15;  
    z-index: 0;  
    max-width: 80%;
    max-height: 80%;
} */

.hero h3 {
    font-size: 1.9em;
    margin: 0px;
    font-family: 'New Caledonia';
}

.hero h1 {
    font-size: 4em;
    margin: 0px;
    font-family: 'Poppins';
}

.hero p {
    font-size: 1.4em;
    margin: 10px;
    margin-right: 240px;
    font-family: 'GT Ultra';
}

.hero .second {
    margin-left: 55px;
}

.name {
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
    color: transparent;
}

.view-services-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    background-color: #07252a;
    color: white;
    font-size: 0.9em;

    font-family: 'Poppins';

    margin-top: 10px;
    margin-left: 90px;

    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    outline: none;
    box-shadow: none;

}

.view-services-btn .text {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.view-services-btn:hover {
    background-color: #061a1de1;

}

/* .view-services-btn .hover-effect {
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #061a1de1;
    transform: translate(-50%, -50%);
    transition: width 0.5s ease-out, height 0.5s ease-out;
    pointer-events: none;
} */

.showcase {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    overflow-x: hidden;
}

.showcase-content h1,
.services-section h1 {
    font-size: 2em;
    font-family: 'Poppins';
    margin-top: 5px;
    margin-bottom: 10px;
}

.showcase-content h4,
.services-section h2 {
    font-size: 0.9em;
    font-family: 'Poppins';
    margin-bottom: 5px;
    color: rgb(67, 110, 96);
}

.showcase-content {
    flex: 1;
    padding-right: 0px;
    text-align: left;
    font-size: 1.1em;
    font-family: 'PlayfairDisplay';
}

.showcase-content p {
    margin-bottom: 20px;
}

.showcase-image {
    flex: 1;
}

.get-in-touch {
    position: relative;
    border: 1.3px solid #1c2833;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    background-color: #ffffff;
    display: inline-block;
    margin-top: 20px;
    font-family: 'Sans-Serif';
    cursor: pointer;
    overflow: hidden;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.get-in-touch .button-text {
    position: relative;
    z-index: 2;
    font-size: 1.2em;
    transition: color 0.3s ease-in-out;
}

.get-in-touch::before {
    content: '';
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    left: 0;
    background-color: #042215;
    transition: right 0.3s ease-in-out;
    z-index: 1;
}

.get-in-touch:hover::before {
    right: 0;
}

.get-in-touch:hover .button-text {
    color: #ffffff;
}

nav ul li a:hover {
    border-color: rgba(255, 255, 255, 0.8);
}

.custom-cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    pointer-events: none;
    transition: background-color 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
    z-index: 9999;
    mix-blend-mode: difference;
}

.services-section-cursor {
    background-color: white;
    border: 2px solid #c7e0e4;
}

.footer-cursor {
    background-color: black;
    border: 2px solid #f5f5f5;
}

.custom-cursor.hidden {
    opacity: 0;
    transform: scale(0.5);
}

.header-cursor {
    background-color: white;
    border: 2px solid black;
}

.hero-cursor {
    background-color: white;
    border: 2px solid black;
    mix-blend-mode: difference;
}

.showcase-cursor {
    background-color: black;
    border: 2px solid white;
}

.services-section {
    background-color: #c7e0e4;
}

.services-section h2,
.services-section h1 {
    padding-left: 50px;
    padding-right: 50px;
}


.services-grid {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 20px;
}

.service-card {
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    position: relative;
    height: 300px;
    flex: 1 1 calc(33.333% - 40px);
}

.service-card:hover {
    transform: translateY(-5px);
    cursor: none;
}

.service-card:hover .service-content {
    opacity: 1;
    transform: translateY(0px);
}

.service-card:hover .service-content h3 {
    transform: translateY(-5px);
}

.service-card:hover .service-content p {
    opacity: 1;
    transform: translateY(-2px);
}

.service-card:hover img {
    transform: scale(1);
}

.service-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transform: scale(1.1);
    transition: transform 0.4s ease;
}

.service-content {
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 1;
    transform: translateY(20px);
}

.service-content h3 {
    font-family: 'Poppins';
    margin-top: 0;
    margin-bottom: 5px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transform: translateY(0);
    opacity: 1;
}

.service-content p {
    color: #3b3b3b;
    font-family: 'Aptos';
    margin: 0;
    margin-right: 12px;
    opacity: 0;
    transform: translateY(10px);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.services-section h2 {
    margin-bottom: 0;
    padding-top: 60px;
}

.services-section h1 {
    margin-top: 0;
    margin-bottom: 0;
}

/* Lightbox container */
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    justify-content: center;
    align-items: center;
    z-index: 1002;
    backdrop-filter: blur(8px);
}

/* Lightbox content */
.lightbox-content {
    position: relative;
    max-width: 50vw;
    max-height: 80vh;
    background: rgba(255, 255, 255, 0.95);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    text-align: left;
    overflow-y: auto;
    font-family: 'Poppins', sans-serif;
    transition: transform 0.3s ease-in-out;
}

/* Close button */
.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2em;
    color: #333;
    cursor: pointer;
    z-index: 1003;
    transition: color 0.3s ease-in-out;
}

.close:hover {
    color: #ffffff;
}

/* Gallery styling */
.lightbox-gallery {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.lightbox-gallery img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s;
    border-radius: 8px;
}

.lightbox-gallery img:hover {
    transform: scale(1.1);
}

.main-image {
    width: 50%;
    height: 80%;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Text inside lightbox */
.lightbox h3 {
    font-size: 1.4em;
    color: #333;
    margin-bottom: 10px;
    font-weight: 600;
}

#lightbox-additional-content {
    font-size: 1.1em;
    color: #555;
    line-height: 1.6;
    overflow-y: auto;
}

/* Adding a smooth animation effect */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.lightbox-content {
    animation: fadeIn 0.5s ease-in-out;
}

.personal-insights {
    background-color: #0a0a2a;
    color: #ffffff;
    padding: 80px 20px;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    position: relative;
}

.stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.star {
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    opacity: 0.8;
}

.blink {
    animation: blink 2s infinite ease-in-out;
}

@keyframes blink {

    0%,
    100% {
        opacity: 0.8;
    }

    50% {
        opacity: 0.3;
    }
}

.rocket {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('images/ship.svg');
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.2s ease-in-out;
    z-index: 9999;
}


.section-title,
.section-subtitle {
    text-align: center;
    margin-bottom: 40px;
}

.section-title {
    font-size: 1.5em;
    color: #3498db;
}

.section-subtitle {
    font-size: 2.5em;
    margin-bottom: 60px;
}

.insights-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin-bottom: 60px;
}

.insight-card {
    background: rgba(52, 152, 219, 0.1);
    border-radius: 15px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.insight-card i {
    font-size: 48px;
    margin-bottom: 20px;
    color: #3498db;
}

.insight-card h3 {
    margin-bottom: 15px;
    color: #3498db;
}

.quote-container {
    text-align: center;
    font-style: italic;
    font-family: 'PlayfairDisplay-Bold';
    font-size: 1.4em;
    margin: 60px 0;
    padding: 20px;
    background: rgba(52, 152, 219, 0.1);
    border-radius: 15px;
    border: 2px solid #3498db;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.quote-author {
    font-family: 'ClashGrotesk';
    padding-left: 500px;
}

.quote-container::before {
    content: '“';
    font-size: 3em;
    color: #3498db;
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0.2;
}

.quote-container::after {
    content: '”';
    font-size: 3em;
    color: #3498db;
    position: absolute;
    bottom: 10px;
    right: 25px;
    opacity: 0.2;
}


.journey-timeline {
    position: relative;
    max-width: 800px;
    margin: 100px auto;
    padding: 40px 0;
}

.journey-timeline h3 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2em;
    color: #3498db;
}

.timeline-container {
    position: relative;
    width: 200%;
    height: 1000px;
    left: -50%;
}

.timeline-line {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #3498db;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    transform-origin: top center;
    transform: scaleY(0);
}

.timeline-item {
    padding: 20px;
    position: absolute;
    background-color: inherit;
    border-radius: 10px;
}

.timeline-item:nth-child(2) { top: 0%; right: 50%; }
.timeline-item:nth-child(3) { top: 25%; left: 50%; }
.timeline-item:nth-child(4) { top: 55%; right: 50%; }
.timeline-item:nth-child(5) { top: 85%; left: 50%; }

.timeline-item:nth-child(3)::after {
    left: -16px;
}

.timeline-item:nth-child(5)::after {
    left: -16px;
}

.timeline-item::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #3498db;
    border: 4px solid #1c2833;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.timeline-content {
    padding: 20px 30px;
    background-color: rgba(52, 152, 219, 0.1);
    position: relative;
    border-radius: 6px;
}

footer {
    background-color: #f5f5f5;
    padding: 40px 0;
    font-family: 'Poppins', sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    z-index: 1;
    position: relative;
}

.footer-section1,
.footer-section2,
.footer-section3 {
    flex: 1;
}

.footer-section1 h2 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-left: 15px;
    letter-spacing: 1.5px;
}

.footer-section2 h3 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
}

.footer-section2 ul {
    list-style-type: none;
    padding: 0;
}

.footer-section2 ul li {
    margin-bottom: 10px;
}

.footer-section2 ul li a {
    text-decoration: none;
    color: #666;
    font-family: 'Poppins';
    font-size: 0.9em;
    font-weight: 500;
}

.footer-section3 p {
    color: #666;
    margin-bottom: 10px;
    font-family: 'New Caledonia';
    font-weight: 100;
}

.footer-section3 p i {
    font-size: 19px;
    margin-right: 8px;
    vertical-align: middle;
}

.footer-section1 .social a {
    color: black;
    width: 60px;
    height: 60px;
    font-size: 25px;
    display: inline-block;
    line-height: 65px;
    text-align: center;
    border-radius: 50%;
    background-color: #f0f0f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.footer-section1 .social a:hover {
    transform: scale(1.2);
    color: #d6d6d6;
    background-color: #313131;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.footer-section1 .copyright {
    font-size: 0.8em;
    font-family: 'Arial';
    padding: 10px;
}

.footer-section1 .social {
    word-spacing: 2px;
}

a:visited,
a:active,
a:hover,
a:focus,
a,
.menu-icon {
    cursor: none;
    color: inherit;
    text-decoration: none;
}

/* Poppins Fonts */
@font-face {
    font-family: 'New Caledonia';
    src: url('fonts/NewCaledoniaLTStdRg.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'New Caledonia Bold';
    src: url('fonts/NewCaledoniaLTStdBold.TTF') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GT Ultra';
    src: url('fonts/GTUltraMedian-Regular.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'GT Ultra Bold';
    src: url('fonts/GTUltraMedian-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Aptos';
    src: url('fonts/aptos.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url('fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Italic';
    src: url('fonts/Poppins-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Playfair Display Fonts */
@font-face {
    font-family: 'Sans-Serif';
    src: url('fonts/Microsoft-Sans-Serif.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay';
    src: url('fonts/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay-Bold';
    src: url('fonts/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay-Italic';
    src: url('fonts/PlayfairDisplay-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Clash Grotesk Fonts */
@font-face {
    font-family: 'ClashGrotesk';
    src: url('fonts/ClashGrotesk-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ClashGrotesk-Bold';
    src: url('fonts/ClashGrotesk-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ClashGrotesk-Light';
    src: url('fonts/ClashGrotesk-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'LouizeDisplay';
    src: url('fonts/LouizeDisplay.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* Responsive Design */
@media (max-width: 767px) {
    .logo {
        padding-left: 0px;
    }

    .menu-icon {
        padding-left: 110px;
    }

    nav {
        padding-top: 20px;
        width: 100vw;
    }

    nav ul {
        gap: 30px;
    }

    nav ul li a {
        font-size: 1.8em;
    }

    .hero {
        padding-left: 20px;
    }

    .hero h1 {
        font-size: 3em;
    }

    .hero p {
        font-size: 0.9em;
        margin-right: 5px;
    }

    .showcase {
        flex-direction: column;
        text-align: center;
        padding: 20px;
    }

    .showcase-image img {
        padding-top: 10px;
        height: auto;
    }

    .services-grid {
        grid-template-columns: 1fr;
    }

    .lightbox-content {
        max-height: 80vh;
        max-width: 70vb;
    }

    .lightbox-gallery {
        display: flex;
        gap: 10px;
        overflow-x: auto;
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #ccc;
    }

    .lightbox-gallery img {
        width: 120px;
        height: 120px;
        object-fit: cover;
        cursor: pointer;
        transition: transform 0.3s;
        border-radius: 8px;
    }

    .lightbox-gallery img:hover {
        transform: scale(1.1);
    }

    .main-image {
        width: 100%;
        max-width: 500px;
        height: auto;
        border-radius: 8px;
        margin-bottom: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .lightbox h3 {
        font-size: 1.2em;
        color: #333;
        margin-bottom: 10px;
        font-weight: 600;
    }

    #lightbox-additional-content {
        font-size: 1em;
        color: #555;
        line-height: 1.6;
    }

    .close {
        color: white;
    }

    .timeline-container {
        width: 100%;
        height: auto;  
        position: relative;
        left: 0;  
    }

    .timeline-line {
        left: 6px;  
        width: 4px;  
    }

    .timeline-item {
        width: calc(100% - 20px);  
        padding: 10px;
        margin: 10px auto;  
        position: relative;  
    }

    .timeline-item:nth-child(odd) {
        left: 0; 
    }

    .timeline-item:nth-child(even) {
        left: 0; 
    }

    .timeline-item::after {
        left: -10px; 
    }

    footer {
        padding: 10px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-section1 {
        order: 3;
    }

    .footer-section1 h2 {
        margin-left: 0;
    }

    .footer-section1 .social a {
        height: 60px;
        width: 60px;
    }
}

/* animation scroll*/
[data-aos] {
    transition-duration: 0.5s;
}

/* loader */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #040115;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
}

.loader svg {
    width: 20rem;
}

.loader svg text {
    font-size: 6rem;
    font-family: 'Poppins-Bold', 'Poppins';
    stroke-width: 2;
    letter-spacing: -6px;

}

text.text-body {
    stroke: #e8e5ff;
    color: #040115;
    animation: 3.3s infinite alternate animate;
}

text.text-dot {
    stroke: #e8e5ff;
    fill: #e8e5ff;
    animation: 3.5s alternate infinite animate-dot;
}

@keyframes animate {
    0% {
        fill: transparent;
        stroke: #e8e5ff;
        stroke-width: 3;
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 26%;
    }

    50% {
        fill: transparent;
        stroke: #e8e5ff;
        stroke-width: 3;
    }

    80%,
    100% {
        fill: #e8e5ff;
        stroke: transparent;
        stroke-width: 0;
        stroke-dashoffset: -25%;
        stroke-dasharray: 26% 0;
    }
}

@keyframes animate-dot {

    0%,
    60% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* lenis */
html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}